TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
TENCENT_COS_BUCKET=img-1445455726
TENCENT_COS_REGION=ap-hongkong
TENCENT_COS_DOMAIN=https://img-1445455726.cos.ap-hongkong.myqcloud.com
OPENAI_API_KEY=
NEXT_PUBLIC_SITE_URL=https://property.tokyostay.asia
